
@{
    Layout = null;
}

<textarea id="Info" rows="3" style="width: 100%; font-size: 100px;"></textarea>
<br />
<div style="text-align: center;">
    <input type="button" id="Send" value="Send" style="font-size: 80px;" />
</div>
<div id="Infos" style="font-size: 100px; text-align: center;">
</div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/Scripts/jquery.signalR-2.2.3.min.js")
@Scripts.Render("~/signalr/js")
@Scripts.Render("~/Scripts/signalr/sendinfo.js")